body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.home{
	width: 100vw;
	height: 100vh;
	background: url('../img/bg.svg') no-repeat;
	overflow: hidden;
	padding-bottom: 0 !important;
}
.me{
	width: 300px;
	height: 300px;
	background: url('../img/me.jpg') no-repeat;
	background-size: 100% 130%;
	background-position: 0% 30%;
	border-radius: 150px;
	border: 10px solid #FFF;
	margin: 0 auto;
	position: relative;
	top: 15vh;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.heading{
	font-family: 'Roboto' , sans-serif;
	width: 100vw;
	background: rgba(0, 0, 0, 0.65);
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: #FFF;
	
}
.site_title{
	text-transform: uppercase;
	font-size: 5em;
	font-weight: 400;
	margin: 0;
	margin-top: 15vh;
}

h1.site_title{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.site_caption{
	font-weight: 100;
	text-transform: lowercase;
	margin: 0;
	font-size: 2em;
}

h3.site_caption{
	text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}
.navbar{
	width: 100vw;
	height: 5vh;
	background: rgba(26, 27, 27, 0.85);
	color: white !important;
	position: fixed;
	z-index: 9999;
	text-align: center;
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-size: 20px;
}
.navbar>ul{
	list-style: none;
	display: inline;
	margin: 0 auto;
	padding: 0px;
}


.navbar>ul>a>li {
	text-align: center;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	cursor: pointer;
	opacity: 0.5;
	border-bottom: rgba(255,255,255,0);
	-webkit-transition: all 0.5s ease;
}
a{
	text-decoration: none;
	color: white;
}

.navbar>ul>a>li:hover{
	border-bottom: 1px solid #eee ;
	opacity: 1;
}

section{
	padding-bottom: 15vh;
}



.section_heading{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	text-align: center;
	padding-top: 8vh;
	font-size: 2em;
}

.section_heading>h1::before{
	font-family: 'Arial';
	content: '------------';

	letter-spacing: -5px;
	margin-right: 3vw;
}

.section_heading>h1::after{
	font-family: 'Arial';
	content: '------------';
	letter-spacing: -5px;
	margin-left: 3vw;
}

.section_content{
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-size: 1.5em;
}

.light{
	font-family: 'Helvetica' , sans-serif;
	font-weight: 100;
	text-align: center;
	width: 80vw;
	margin: 0 auto;
	font-size: 1.2em;
	margin-bottom: 1vh;
	margin-top: 1vh;
}

.about{
	background: #ECF0F1;
	color: #2C3E50;
}

.projects{
	background: #2C3E50;
	color: #ECF0F1;
}

.cv{
	background: #E74C3C;
	border: none;
	border-bottom: 4px solid #A13D33;
	border-radius: 1vw;
	width: 20%;
	height: 10vh;
	font-family: 'Roboto' , sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: white;
	cursor: pointer;
}

.cv:hover{
	border-bottom: 2px solid #A13D33;
}

.email
{
	color: #2980B9;
	border-bottom: 1px dotted #2C3E50;
	cursor: pointer;
}

.social{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

i{
	margin-left: 10px;

	color: black !important;
	margin-right: 10px;
	cursor: pointer;
	transition: all 0.5s ease;
}

i:hover{
	color: #2C3E50 !important;
}

footer{
	background: rgba(26, 27, 27, 1);
	padding: 1vw;
	color: #ECF0F1;
	font-family: 'Roboto',sans-serif;
	text-align: center;
	letter-spacing: 5px;
}

.heart{
	color: #E74C3C;
}

@media screen and (max-width: 1030px) {
	.cv{
		font-size: 1.2em;
		width: 300px;
	}
	
}

@media screen and (max-width: 560px){
	.navbar{
		font-size: 1em;
	}
	.navbar>ul>a>li{
		margin-left: 0;
		margin-right: 0;
	}
	.site_title{
		font-size: 2.8em;
	}
	.site_caption{
		font-size: 1.3em;
	}

	.section_heading{
		font-size: 1.3em !important;
	}

	.section_content{
		font-size: 1em;
	}
	.light{
		font-size: 1em;
	}

	i{
		font-size: 1em;
	}

}
